<main>
  <h3>News</h3>
  <section class="important">
    <h5>Main content</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Fugit facere molestias commodi itaque recusandae, ducimus quis repellat harum?
      Ipsum, vero! Earum ducimus corrupti sit dolores assumenda, neque et officia veniam?
    </p>
  </section>
  <section id="side">
    <h5>Side artice</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Fugit facere molestias commodi itaque recusandae, ducimus quis repellat harum?
      Ipsum, vero! Earum ducimus corrupti sit dolores assumenda, neque et officia veniam?
    </p>
  </section>
</main>